/** {*/
/*	font-family: 微软雅黑, simsun, Sans-serif,serif;*/
/*}*/

html {
    --color: #007ec8;
    --colorH: #0170b1;
    --colorL: #0098f0;
    max-width: 100%;
}

.un,
.un:link,
.un:visited,
.un:hover,
.un:active {
    text-decoration: none;
    color: inherit;
}


a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #3297D3;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

/* 移动端 */
@media screen and (min-width: 375px) and (max-width: 1200px) {
    /* navbar */

    .navbarBoxMOB {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        display: flex;
        background-color: var(--colorH);
    }

    .navbar-nav {
        width: 100%;
        /* flex-direction: row;
        flex-wrap: wrap; */
    }

    .nav-item {
        text-align: left;
        /* width: 50%; */
    }

    .nav-link {
        color: #FFFFFF !important;
    }

    .navbarBoxPC {
        background-color: var(--color);
    }


    .navbarBoxPC,
    .headerPC {
        display: none;
    }

    /* header */
    .headerMOB {
        display: block;
    }

    .header {
        margin-top: 56px;
        height: 70px;
        line-height: 70px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .logo {
        text-align: center !important;
    }

    .header img {
        max-width: 100%;
        height: auto;
    }

    .logo img {
        max-width: 90%;
        height: auto;
    }

    .motto img {
        max-width: 100%;
        height: auto;
    }

    /* main */
    .main {
        margin-top: 80px;
    }

    .title {
        font-size: 18px;
    }

    .more {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #95999C;
    }

    /* 轮播图 */
    .carousel {
        margin-top: 10px;
        padding: 10px;
    }

    #myCarousel .carousel-inner > .carousel-item > img {
        display: block;
        width: 100%;
        height: 240px;
    }

    /* 板块 */
    .news-box {
        padding: 15px;
    }

    .news-title {
        border-bottom: 2px solid var(--color);
        padding: 0 10px;
    }

    .news-title .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #000000;
        width: 80%;

    }

    .news-link {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #000000;
        width: 70%;
    }

    .list-group-flush > .list-group-item {
        border-width: 0 0 0px;
        justify-content: space-between;
    }

    .list-group-item span {
        color: var(--color);
        text-align: right;
        width: 30%;
    }

    /* 专栏 */
    .cap-box {
        margin: 30px 0;
    }

    .cap-img {
        max-width: 80%;
        height: auto;
    }

    .cap-title {
        margin-top: 15px;
    }

    /* 重要链接 */
    .end {
        background-color: var(--colorH);
        height: 40px;
        color: #FFFFFF;
    }

    .end > .container {
        padding-left: 0;
        padding-right: 0;
        margin: 0 15px;
    }

    .contact > .container {
        padding-left: 0;
        padding-right: 0;
        margin: 0 15px;
    }

    .important-links {
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: #FFFFFF;
        background-color: #C00000;
    }

    .links {
        text-align: center;
        background-color: var(--colorH);
    }

    .link-item {
        font-weight: bold;
        padding: 0 20px;
        line-height: 40px;
        width: 50%;
    }

    .about {
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #FFFFFF;
        background-color: #C00000;
        padding: 0 15px;
    }


    .link-item a {
        color: #FFFFFF;
    }

    .address {
        background-color: #FFFFFF;
        line-height: 40px;
        padding: 0 20px;
        text-align: center;
    }

    /* 联系我们 */
    .contact {
        text-align: center;
        margin-top: 120px;
        background-color: #FFFFFF;
        height: 40px;
        color: #000000;
    }

    .img-box {
        justify-content: center;
    }

}

@media (min-width: 1200px) {

    /* navbar */
    .navbarBoxMOB,
    .headerMOB {
        display: none;
    }

    .navbarBoxPC,
    .headerPC {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .navbarBoxPC {
        background-color: var(--color);
    }

    .nav-item {
        position: relative;
    }

    .nav-item:hover {
        background-color: #0389D8;
    }

    .nav-item:hover a {
        background-color: #0389D8;
        color: white;
        /* color:var(--color) !important; */
    }

    .nav-item:hover ul {
        /* border: 1px solid var(--color); */
    }
    .dropdown-li{
        line-height: 35px;
        height: 100%;
    }

    .dropdown-item {
        /* border: 1px solid var(--colorH); */
        /*width: 180px;*/
        width: 200px;
        /*height: 40px;*/
        /*line-height: 40px;*/
    }

    .dropdown-item:hover {
        /* border: 1px solid var(--colorH); */
        background-color: #2CAEFB !important;
    }


    /* 鼠标经过下拉菜单 */

    .nav2 ul>li:hover ul {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .nav2 li ul {
        position: absolute;
        left: 0;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: 200ms ease;
        -moz-transition: 200ms ease;
        -o-transition: 200ms ease;
        transition: 200ms ease;
    }
    .animate{
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
        backface-visibility:hidden;
        -webkit-backface-visibility:hidden; /* Chrome and Safari */
        -moz-backface-visibility:hidden; /* Firefox */
        -ms-backface-visibility:hidden; /* Internet Explorer */
    }
    .nav-link {
        color: #FFFFFF !important;
    }

    .nav-link {
        color: #FFFFFF !important;
    }

    /* header */
    .header {
        height: 90px;
        line-height: 90px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 0px;
    }

    .header img {
        max-width: 100%;
        height: auto;
    }

    .logo img {
        max-width: 90%;
        height: auto;
    }

    /* section */
    .section {
        width: 100%;
        height: 200px;
        background-image: url(../img/plate/art.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .sectionName {
        width: auto;
        height: 50px;
        padding: 0 30px;
        color: white;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        background-color: rgba(0, 126, 200, 0.8);

    }

    /* ******************************main******************************** */
    .main {
        margin-top: 20px;
    }

    .title {
        font-size: 18px;
    }

    .more {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #95999C;
    }

    .carousel {
        margin: 20px 20px;
    }

    #myCarousel .carousel-inner > .carousel-item > img {
        display: block;
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

    /* 列表 */
    .newsList .list-group-item span {
        float: right;
    }

    /* **************文章***************** */
    .article {
        margin: 15px 0;
        padding: 20px;
    }

    .artTitle {
        font-size: 24px;
        line-height: 40px;
        /*height: 40px;*/
    }

    .articleDetail {
        margin-top: 5px;
        font-size: 16px;
    }

    .artPic img {
        max-width: 60%;
        margin: 10px 0;
    }

    .artContent {
        text-align: left;
        margin: 20px 0;
        text-indent: 2em;
    }

    .artMore {
        /* margin: 20px 0; */
        font-size: 12px;
    }

    /* 分页 */
    .pagination {
        margin-top: 20px;
    }

    /* 板块 */
    .news-box {
        padding: 15px;
    }

    .news-title {
        border-bottom: 2px solid var(--color);
    }

    .list-group-flush > .list-group-item {
        border-width: 0 0 0px;
    }

    .list-group-item span {
        color: var(--color);
    }

    .news-link {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #000000;
    }

    /* 专栏 */
    .cap-box {
        padding: 20px;
        margin: 20px 0 10px 0;
    }

    .cap-img {
        max-width: 60%;
        height: auto;
    }

    .cap-title {
        margin-top: 20px;
    }

    /* 重要链接 */
    .end {
        background-color: var(--colorH);
        height: 40px;
        color: #FFFFFF;
    }

    .important-links {
        height: 40px;
        line-height: 40px;
        color: #FFFFFF;
        background-color: #C00000;
    }

    .about {
        height: 40px;
        line-height: 40px;
        color: #FFFFFF;
        background-color: #C00000;
        padding: 0 15px;
    }

    .link-item {
        font-weight: bold;
        margin: 0 20px;
        line-height: 40px;
    }

    .link-item a {
        color: #FFFFFF;
    }

    .address {
        background-color: #FFFFFF;
        line-height: 40px;
        padding: 0 20px;
    }

    /* 联系我们 */
    .contact {
        background-color: #FFFFFF;
        height: 40px;
        color: #000000;
    }

    .img-box {
        justify-content: center;
    }
}
