<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hzvtc.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="cn.edu.hzvtc.pojo.Article">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="art_title" jdbcType="VARCHAR" property="artTitle"/>
        <result column="art_author" jdbcType="VARCHAR" property="artAuthor"/>
        <result column="art_pic" jdbcType="VARCHAR" property="artPic"/>
        <result column="art_time" jdbcType="TIMESTAMP" property="artTime"/>
        <result column="art_plate_id" jdbcType="INTEGER" property="artPlateId"/>
        <result column="art_file_id" jdbcType="VARCHAR" property="artFileId"/>
        <result column="art_operator_id" jdbcType="INTEGER" property="artOperatorId"/>
        <result column="art_top" jdbcType="INTEGER" property="artTop"/>
        <result column="art_del_state" jdbcType="INTEGER" property="artDelState"/>
        <result column="art_content" jdbcType="LONGVARCHAR" property="artContent"/>
        <result column="art_sight" jdbcType="INTEGER" property="artSight"/>
    </resultMap>
    <resultMap id="SecResultMap" type="cn.edu.hzvtc.pojo.Article">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="art_title" jdbcType="VARCHAR" property="artTitle"/>
        <result column="art_author" jdbcType="VARCHAR" property="artAuthor"/>
        <result column="art_pic" jdbcType="VARCHAR" property="artPic"/>
        <result column="art_time" jdbcType="TIMESTAMP" property="artTime"/>
        <result column="art_plate_id" jdbcType="INTEGER" property="artPlateId"/>
        <result column="pla_name" jdbcType="VARCHAR" property="artSec"/>
        <result column="art_file_id" jdbcType="VARCHAR" property="artFileId"/>
        <result column="art_operator_id" jdbcType="INTEGER" property="artOperatorId"/>
        <result column="art_top" jdbcType="INTEGER" property="artTop"/>
        <result column="art_del_state" jdbcType="INTEGER" property="artDelState"/>
        <result column="art_content" jdbcType="LONGVARCHAR" property="artContent"/>
        <result column="art_sight" jdbcType="INTEGER" property="artSight"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.edu.hzvtc.pojo.Article">
    insert into article (art_title, art_author,
      art_pic, art_time, art_plate_id, 
      art_file_id, art_operator_id, art_top, 
        art_content)
    values (#{artTitle,jdbcType=VARCHAR}, #{artAuthor,jdbcType=VARCHAR},
      #{artPic,jdbcType=VARCHAR}, #{artTime,jdbcType=TIMESTAMP}, #{artPlateId,jdbcType=INTEGER}, 
      #{artFileId,jdbcType=VARCHAR}, #{artOperatorId,jdbcType=INTEGER}, #{artTop,jdbcType=INTEGER},
        #{artContent,jdbcType=LONGVARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.edu.hzvtc.pojo.Article">
    update article
    set art_title = #{artTitle,jdbcType=VARCHAR},
      art_author = #{artAuthor,jdbcType=VARCHAR},
      art_pic = #{artPic,jdbcType=VARCHAR},
      art_time = #{artTime,jdbcType=TIMESTAMP},
      art_plate_id = #{artPlateId,jdbcType=INTEGER},
      art_file_id = #{artFileId,jdbcType=VARCHAR},
      art_operator_id = #{artOperatorId,jdbcType=INTEGER},
      art_top = #{artTop,jdbcType=INTEGER},
      art_content = #{artContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, art_title, art_author, art_pic, art_time, art_plate_id, art_file_id, art_operator_id, 
    art_top, art_del_state, art_content,art_sight
    from article
    where id = #{id,jdbcType=INTEGER}
    and art_del_state = 0
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, art_title, art_author, art_pic, art_time, art_plate_id, art_file_id, art_operator_id, 
    art_top, art_del_state, art_content,art_sight
    from article
    where art_del_state = 0
  </select>
    <!--按板块获取文章列表-->
    <select id="selectByPlateId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, art_title, art_author, art_pic, art_time, art_plate_id, art_file_id, art_operator_id,
    art_top, art_del_state, art_content,art_sight
    from article
    where art_plate_id = #{id,jdbcType=INTEGER}
    and art_del_state = 0
    order by art_top desc, art_time desc
    Limit 0,5
  </select>
    <!--文章管理，获取文章列表-->
    <select id="selectByPlateIdAll" parameterType="java.lang.Integer" resultMap="SecResultMap">
        select art.id, art_title, art_author, art_pic, art_time, art_plate_id, pla.pla_name , art_file_id,
        art_operator_id,
        art_top, art_del_state, art_content,art_sight
        from article art
        LEFT JOIN plate pla
        on art_plate_id = pla.id
        where art_del_state = 0
        <if test="id != 0">
            and art_plate_id = #{id,jdbcType=INTEGER}
        </if>
        <if test="search != ''">
            and art_title like #{search,jdbcType=VARCHAR}
        </if>
        order by art_top desc, art_time desc
    </select>
    <!--后台文章管理列表-->
    <select id="selectAllArticle" parameterType="java.lang.Integer" resultMap="SecResultMap">
        select art.id, art_title, art_author, art_pic, art_time, art_plate_id, pla.pla_name , art_file_id,
        art_operator_id,
        art_top, art_del_state, art_content,art_sight
        from article art
        LEFT JOIN plate pla
        on art_plate_id = pla.id
        where art_del_state = 0
        <if test="id != 0">
            and art_plate_id = #{id,jdbcType=INTEGER}
        </if>
        <if test="search != ''">
            and art_title like #{search,jdbcType=VARCHAR}
        </if>
        order by art_time desc
    </select>
    <!--关联查询时用到-->
    <select id="selectAllByPlateId" parameterType="java.lang.Integer" resultMap="SecResultMap">
        select art.id, art_title, art_author, art_pic, art_time, art_plate_id, pla.pla_name , art_file_id,
        art_operator_id,
        art_top, art_del_state, art_content,art_sight
        from article art
        LEFT JOIN plate pla
        on art_plate_id = pla.id
        where art_del_state = 0
        <if test="id != 0">
            and art_plate_id = #{id,jdbcType=INTEGER}
        </if>
        order by art_time desc
    </select>
    <!--获取所有文章数量-->
    <select id="getArtCount" resultType="java.lang.Long">
        select count(1) from article where art_del_state = 0
    </select>
    <!--获取所有文章的浏览量-->
    <select id="getArtSightCount" resultType="java.lang.Long">
        select sum(art_sight) as sightCount from article where art_del_state = 0
    </select>
    <!--获取板块的浏览量-->
    <select id="getArtSightCountBySec" resultType="java.lang.Long">
        select sum(art_sight) as sightCount
        from article
        where art_del_state = 0
        and art_plate_id = #{secId,jdbcType=INTEGER}
    </select>
    <!--增加文章浏览次数-->
    <update id="addSightByPrimaryKey" parameterType="cn.edu.hzvtc.pojo.Article">
        update article
        set  art_sight = art_sight + 1
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--删除-->
    <update id="deleteById" parameterType="java.lang.Integer">
        update article
        set art_del_state = 1
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--批量删除-->
    <update id="deleteByIdList" parameterType="cn.edu.hzvtc.pojo.Article">
        update article
        set art_del_state = 1
        <foreach collection="list" item="id" separator="," open="where id in (" close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </update>
    <!--删除后获取文件列表-->
    <select id="selectDelFileList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, art_file_id
        from article
        <foreach collection="list" item="id" separator="," open="where id in (" close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
        and art_del_state = 1
    </select>
    <!--取消其他置顶-->
    <update id="cancelTop" parameterType="java.lang.Integer">
        update article
        set art_top = 0
        where art_plate_id = #{plaId,jdbcType=INTEGER}
    </update>
    <select id="getSwiperList" parameterType="java.lang.Integer" resultMap="BaseResultMap">2
        SELECT * FROM `article`
        where art_plate_id = 1
        and art_pic != ""
        and art_del_state = 0
        ORDER BY art_time DESC
        limit 5
    </select>
</mapper>