<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hzvtc.dao.PlateMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hzvtc.pojo.Plate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pla_name" jdbcType="VARCHAR" property="plaName" />
    <result column="pla_url" jdbcType="VARCHAR" property="plaUrl" />
    <result column="pla_sort" jdbcType="INTEGER" property="plaSort" />
    <result column="pla_parent_id" jdbcType="INTEGER" property="plaParentId" />
    <result column="pla_pic" jdbcType="VARCHAR" property="plaPic" />
    <result column="pla_type" jdbcType="INTEGER" property="plaType" />
    <result column="pla_del_state" jdbcType="INTEGER" property="plaDelState" />
  </resultMap>
  <resultMap id="ParentResultMap" type="cn.edu.hzvtc.pojo.Plate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pla_name" jdbcType="VARCHAR" property="plaName" />
    <result column="pla_url" jdbcType="VARCHAR" property="plaUrl" />
    <result column="pla_sort" jdbcType="INTEGER" property="plaSort" />
    <result column="pla_parent_id" jdbcType="INTEGER" property="plaParentId" />
    <result column="pla_pic" jdbcType="VARCHAR" property="plaPic" />
    <result column="pla_type" jdbcType="INTEGER" property="plaType" />
    <result column="pla_del_state" jdbcType="INTEGER" property="plaDelState" />
    <collection property="childPlate" select="cn.edu.hzvtc.dao.PlateMapper.selectChildByParentId"
                column="id"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from plate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hzvtc.pojo.Plate">
    insert into plate (id, pla_name, pla_url, 
      pla_sort, pla_parent_id, pla_pic, 
      pla_type, pla_del_state)
    values (#{id,jdbcType=INTEGER}, #{plaName,jdbcType=VARCHAR}, #{plaUrl,jdbcType=VARCHAR}, 
      #{plaSort,jdbcType=INTEGER}, #{plaParentId,jdbcType=INTEGER}, #{plaPic,jdbcType=VARCHAR}, 
      #{plaType,jdbcType=INTEGER}, #{plaDelState,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hzvtc.pojo.Plate">
    update plate
    set pla_name = #{plaName,jdbcType=VARCHAR},
      pla_url = #{plaUrl,jdbcType=VARCHAR},
      pla_sort = #{plaSort,jdbcType=INTEGER},
      pla_parent_id = #{plaParentId,jdbcType=INTEGER},
      pla_pic = #{plaPic,jdbcType=VARCHAR},
      pla_type = #{plaType,jdbcType=INTEGER},
      pla_del_state = #{plaDelState,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, pla_name, pla_url, pla_sort, pla_parent_id, pla_pic, pla_type, pla_del_state
    from plate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectChildByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, pla_name, pla_url, pla_sort, pla_parent_id, pla_pic, pla_type, pla_del_state
    from plate
    where pla_parent_id = #{id,jdbcType=INTEGER}
  </select>
  <!--
    <select id="selectAll" resultMap="BaseResultMap">
    select id, pla_name, pla_url, pla_sort, pla_parent_id, pla_pic, pla_type, pla_del_state
    from plate
  </select>
  -->
  <select id="selectAll" resultMap="ParentResultMap">
    select id, pla_name, pla_url, pla_sort, pla_parent_id, pla_pic, pla_type, pla_del_state
    from plate
    where pla_del_state = 0
    order by pla_sort
  </select>
  <select id="getSecCount" resultType="java.lang.Long">
        select count(1) from plate where pla_del_state = 0 and pla_type = 2
    </select>
</mapper>